{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  {{#with main}}
    <main>
      <p class='h1'>{{name}}</p>
      {{#each users}}
        <div>
          <div class='card' style='width: 18rem;'>
            <div class='card-body'>
              <h5 class='card-title'>{{name}}</h5>
              <p class='card-text'>{{gender}}</p>
              <p class='card-text'>{{age}}</p>
            </div>

            <ul class='list-group list-group-flush'>
              <h4 class='card-title'>Friends</h4>
              {{#each friends}}
                <li class='list-group-item'>
                  <div class='card'>
                    <div class='card-body'>
                      <h5 class='card-title'>{{name}}</h5>
                      <p class='card-text'>{{gender}}</p>
                      <p class='card-text'>{{age}}</p>
                    </div>

                    <div class='card-body'>
                      <h6 class='card-title'>Mutual friends</h5>
                      {{#each mutual_friends}}
                        <a
                          href='#'
                          class='card-link'
                        >{{name}}</a>
                      {{/each}}
                    </div>
                  </div>
                </li>
              {{/each}}
            </ul>

            {{#if groups}}
              <ul class='list-group list-group-flush'>
                <h4 class='card-title'>Groups</h4>
                {{#each groups}}
                  <li class='list-group-item'>
                    <div class='card'>
                      <div class='card-body'>
                        <h5 class='card-title'>{{name}}</h5>
                        <p class='card-text'>{{description}}</p>
                      </div>

                      <div class='card-body'>
                        <h6 class='card-title'>Members</h5>
                        {{#each members}}
                          <a
                            href='#'
                            class='card-link'
                          >{{name}}</a>
                        {{/each}}
                      </div>
                    </div>
                  </li>
                {{/each}}
              </ul>
            {{/if}}
            
            
            <div class='card-body'>
              <a href='#' class='card-link'>Card link</a>
              <a href='#' class='card-link'>Another link</a>
            </div>
          </div>
        </div>
      {{/each}}
    </main>
  {{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}