{{#with data}}
  <div class='card'>
    <div class='card-body'>
      <div class='card-title display-1'>{{title}}</div>
      {{#with children_display}}
        <div class='card'>
          <div class='card-body'>
            <div
              class='card-title display-4'
            >{{title}}</div>
            <p class='card-text'>{{text}}</p>
            <button
              class='btn btn-warning'
            >{{button.text}}</button>
          </div>
        </div>
      {{/with}}
      <br />
      <h6 class='card-text'>{{header_text}}</h6>
      <button
        class='btn btn-outline-info'
      >{{button.text}}</button>
    </div>
  </div>
{{/with}}